<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046816525509-meveuor2tfbpo409u017t102etjgqkka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046816525509-meveuor2tfbpo409u017t102etjgqkka</string>
	<key>API_KEY</key>
	<string>AIzaSyClz7-MxN_3p3w2qGSI9m-n9_LZWfxucmk</string>
	<key>GCM_SENDER_ID</key>
	<string>1046816525509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pengzhixin.UIKitForDesignCode</string>
	<key>PROJECT_ID</key>
	<string>fir-ios-starter</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ios-starter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046816525509:ios:4bd5e72ee4e56b29b2b4ac</string>
</dict>
</plist>